@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    margin: 0;
    padding: 0;
  }
}
/* Add this to your global or component-level stylesheet */
.hero-image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60vh; /* Adjust height as needed */
  object-fit: cover; /* Ensure the image covers the entire space */
  background-position: center center;
  background-size: cover;
}

.hero-image img {
  display: none; /* Hides the img tag since it's unnecessary with background-image */
}
/* Default Layout - for most pages */
.default-layout {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 1280px; /* Adjust max-width as needed */
  margin: 0 auto; /* Center the content */
}

/* Homepage Layout - remove extra padding, max-width for a full-width effect */
.home-main {
  padding: 0;
  max-width: 100%;
  margin: 0;
  height: 100vh; /* Full height if needed */
  overflow: hidden;
}

/* Listing Detail Page Layout - if you need to have specific styles */
.listing-detail-layout {
  padding: 0;
  max-width: cover;
  margin: 0 auto;
}

@media (max-width: 640px) {
  nav {
    width: 100%;
  }

  .mobile-menu {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .mobile-menu a {
    padding: 10px;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    display: block;
    width: 100%;
  }

  .mobile-menu a:hover {
    background-color: #f4f4f4;
  }
}

.property-features {
  display: flex;
  flex-direction: column; /* Stack elements in a column on small screens */
  gap: 2rem; /* Control the space between items */
}

.property-features .grid {
  display: grid;
  grid-template-columns: 1fr; /* Default 1 column */
  gap: 1rem;
}

.property-features .grid-lg {
  grid-template-columns: 1fr 1fr; /* 2 columns for large screens */
  justify-items: center; /* Center the grid content when there are 2 columns */
}

.property-features .grid-xl {
  grid-template-columns: 1fr 1fr 1fr; /* 3 columns for extra-large screens */
}

.property-features h3 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.feature-item {
  font-size: 1rem;
  color: #4a4a4a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feature-item strong {
  font-weight: 700;
  margin-right: 0.5rem;
}

.feature-item ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

@media screen and (min-width: 640px) {
  .property-features .grid {
    grid-template-columns: 1fr 1fr; /* 2 columns */
  }
}

@media screen and (min-width: 1024px) {
  .property-features .grid {
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns for large screens */
  }
}

/* Button Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Navigation button styles */
.navigation-button {
  animation: fadeIn 0.3s ease-in-out; /* Animate the appearance */
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.navigation-button:hover {
  transform: scale(1.2); /* Slight scale-up effect */
  background-color: rgba(255, 255, 255, 0.7); /* Add a subtle color change */
}

.hero-image-listing {
  transition: opacity 0.5s ease-in-out;
}

.hero-image-listing.fade-out {
  opacity: 25%;
}
